.main-container {
    max-width: 1040px;
    margin: 0 auto;
}

.user-card  {
    .card-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.card.user-card {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
    padding-left: 15px;
}

.card-img-top {
    width: 50px !important;
    height: 50px;
}

.add-new-user {
    display: flex;
    margin: 30px 0;
}

.edit-container {
    display: none;
}
